html {
  position: relative;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.slide-over-transition {
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1); }

.sr-only {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px); }

.js-tabfix {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 0;
  height: 0;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px); }
  @media (min-width: 768px) {
    .js-tabfix {
      display: none; } }

.l-body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0; }

.l-surround {
  overflow: hidden;
  width: 100%;
  min-height: 100%; }

.l-header {
  position: relative;
  z-index: 2;
  height: 3rem; }
  @media (min-width: 768px) {
    .l-header {
      background: #fff; } }
  .l-header .toggle-off-canvas {
    float: left; }

@media (min-width: 768px) {
  .toggle-off-canvas {
    display: none !important; } }

.l-header__elements {
  position: relative;
  height: 3rem;
  margin: 0 auto; }

.l-off-canvas {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: -11.25rem;
  width: 11.25rem;
  height: 100%; }
  .l-off-canvas:focus {
    outline: 0; }
  @media (min-width: 768px) {
    .l-off-canvas {
      position: relative;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 0 !important;
      padding-bottom: inherit;
      border: none;
      background: transparent; } }
  .l-off-canvas .toggle-off-canvas {
    float: none; }

@media (min-width: 768px) {
  .l-nav {
    display: block;
    float: right; } }

.l-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .l-nav__list a {
    display: block;
    padding: 1rem; }
  @media (min-width: 768px) {
    .l-nav__list li {
      float: left; } }

.l-canvas {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 30rem;
  min-height: 100vh;
  margin: 0 auto;
  background: white; }

.js-l-off-canvas-hide * {
  visibility: hidden; }
  @media (min-width: 768px) {
    .js-l-off-canvas-hide * {
      visibility: visible; } }

.l-off-canvas-overlay {
  position: fixed;
  z-index: 1001;
  top: 3rem;
  left: 0 !important;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.js-off-canvas-showing .l-off-canvas-overlay {
  right: 0;
  display: block;
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateX(11.25rem);
  -o-transform: translateX(11.25rem);
  -ms-transform: translateX(11.25rem);
  transform: translateX(11.25rem); }
  @media (min-width: 768px) {
    .js-off-canvas-showing .l-off-canvas-overlay {
      display: none; } }
.js-off-canvas-showing .slide-over-transition {
  right: 0;
  -webkit-transform: translateX(11.25rem);
  -o-transform: translateX(11.25rem);
  -ms-transform: translateX(11.25rem);
  transform: translateX(11.25rem); }
  @media (min-width: 768px) {
    .js-off-canvas-showing .slide-over-transition {
      right: auto;
      left: 0;
      -webkit-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); } }

.off-canvas-right .l-off-canvas {
  right: -11.25rem;
  left: auto; }
  @media (min-width: 768px) {
    .off-canvas-right .l-off-canvas {
      right: 0;
      left: auto; } }
  .off-canvas-right .l-off-canvas .toggle-off-canvas {
    float: none;
    margin-left: auto; }
.off-canvas-right .toggle-off-canvas {
  float: right; }
.off-canvas-right.js-off-canvas-showing .l-off-canvas-overlay {
  left: 0;
  -webkit-transform: translateX(-11.25rem);
  -o-transform: translateX(-11.25rem);
  -ms-transform: translateX(-11.25rem);
  transform: translateX(-11.25rem); }
.off-canvas-right.js-off-canvas-showing .slide-over-transition {
  left: 0;
  -webkit-transform: translateX(-11.25rem);
  -o-transform: translateX(-11.25rem);
  -ms-transform: translateX(-11.25rem);
  transform: translateX(-11.25rem); }
  @media (min-width: 768px) {
    .off-canvas-right.js-off-canvas-showing .slide-over-transition {
      left: 0;
      -webkit-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); } }

.has-header-fixed {
  position: relative;
  padding-top: 3rem; }
  .has-header-fixed .l-canvas {
    position: relative;
    left: 0; }
  .has-header-fixed .l-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0; }
  .has-header-fixed .l-off-canvas {
    overflow-y: auto;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
    @media (min-width: 768px) {
      .has-header-fixed .l-off-canvas {
        overflow: visible;
        height: auto; } }
  .has-header-fixed.js-off-canvas-showing {
    overflow: hidden;
    height: 100vh; }
    @media (min-width: 768px) {
      .has-header-fixed.js-off-canvas-showing {
        overflow: auto; } }
    .has-header-fixed.js-off-canvas-showing .l-canvas {
      overflow: hidden; }
      @media (min-width: 768px) {
        .has-header-fixed.js-off-canvas-showing .l-canvas {
          overflow: auto; } }
    .has-header-fixed.js-off-canvas-showing .slide-over-transition {
      left: 0;
      -webkit-transform: translateX(11.25rem);
      -o-transform: translateX(11.25rem);
      -ms-transform: translateX(11.25rem);
      transform: translateX(11.25rem); }
      @media (min-width: 768px) {
        .has-header-fixed.js-off-canvas-showing .slide-over-transition {
          left: 0;
          -webkit-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0); } }
  .has-header-fixed.off-canvas-right.js-off-canvas-showing .slide-over-transition {
    left: 0;
    -webkit-transform: translateX(-11.25rem);
    -o-transform: translateX(-11.25rem);
    -ms-transform: translateX(-11.25rem);
    transform: translateX(-11.25rem); }
    @media (min-width: 768px) {
      .has-header-fixed.off-canvas-right.js-off-canvas-showing .slide-over-transition {
        left: 0;
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }

.has-header-fixed.js-off-canvas-showing.is-ios .l-canvas {
  position: fixed; }

html, body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

body {
  background-color: #f5f5f5;
  color: #2C3230;
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
 * Menu button
 */
.toggle-hamburger {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  display: table;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border: none;
  background: #2C3230;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toggle-hamburger__wrapper {
  display: table-cell;
  width: 3rem;
  vertical-align: middle;
  text-align: center; }

.toggle-hamburger__bun {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
  width: 20px;
  height: 3px;
  border-radius: .125rem;
  background: white; }
  .toggle-hamburger__bun:last-child {
    margin-bottom: 0; }

/* Styles when off canvas is showing */
.js-off-canvas-showing .toggle-hamburger--to-x .toggle-hamburger__bun {
  display: none; }
  .js-off-canvas-showing .toggle-hamburger--to-x .toggle-hamburger__bun:first-child {
    display: block;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .js-off-canvas-showing .toggle-hamburger--to-x .toggle-hamburger__bun:last-child {
    display: block;
    margin-top: -6px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.l-header {
  background-color: #2C3230; }

.l-nav__list a {
  display: block;
  color: #2C3230;
  text-decoration: none; }
.l-nav__list .current a,
.l-nav__list .active a {
  border-left: 0.188rem solid #2C3230; }
@media (min-width: 768px) {
  .l-nav__list a {
    color: white; }
  .l-nav__list .current a,
  .l-nav__list .active a {
    border-left: 0;
    font-weight: bold; } }

.l-off-canvas {
  background-color: #fff; }
  .l-off-canvas .toggle-off-canvas {
    background-color: transparent; }
  .l-off-canvas .toggle-hamburger__bun {
    background-color: #2C3230; }

.logo-placeholder {
  position: relative;
  float: left;
  overflow: hidden;
  margin-top: .813rem;
  margin-left: .75rem;
  width: 2.75rem;
  height: 1.313rem; }
  .logo-placeholder:before, .logo-placeholder:after {
    position: absolute;
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: .063rem;
    background-color: #fff;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .logo-placeholder:before {
    top: .625rem;
    right: .063rem; }
  .logo-placeholder:after {
    top: 1.125rem;
    left: -.438rem; }

.logo-placeholder__sun {
  position: absolute;
  top: 0;
  left: 0;
  width: .563rem;
  height: .563rem;
  border-radius: 50%;
  background-color: #fff; }

.hero-wrapper {
  display: table;
  width: 100%; }

.hero {
  display: table-cell;
  padding: 20px;
  width: 100%;
  height: 300px;
  background: #f7f7f7;
  vertical-align: middle;
  text-align: center; }

.page-heading {
  width: 100%;
  font-size: 1.75rem;
  line-height: 1.1; }

.page__content {
  margin-right: auto;
  margin-left: auto;
  padding: 1.25rem; }
  .page__content > :first-child {
    margin-top: 0; }

.col-wrapper {
  margin-right: -.625rem;
  margin-left: -.625rem; }
  .col-wrapper:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
    font-size: 0; }

.col {
  margin-bottom: 2.5rem;
  padding-right: .625rem;
  padding-left: .625rem; }

.skeleton__box {
  margin-bottom: .625rem;
  padding: .625rem;
  min-height: 11.250rem;
  width: 100%;
  background-color: #ececec; }

.skeleton__title,
.skeleton__paragraph {
  display: inline-block;
  margin-bottom: .3rem;
  height: 2em;
  background-color: #dfdfdf;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.skeleton__paragraph {
  height: .7em;
  background-color: #ececec;
  color: #ececec; }

@media (min-width: 768px) {
  .col {
    float: left; }

  .col--3 {
    width: 25%; }

  .col--4 {
    width: 33.33333%; }

  .col--6 {
    width: 50%; }

  .col--8 {
    width: 66.66666%; }

  .skeleton__box {
    min-height: 17.5rem; } }

/*# sourceMappingURL=off-canvas.css.map */
